@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
    --black: #263435;
    --dark-plum: #320E3B;
    --plum: #49354E;
    --dark-lavender: #9076C7;
    --lavender: #A48CD5;
    --peach: #FFB380;
    --grass: #BBDB9B;
    --cream: #f9e9e2;
}

html { 
    font-size: 62.5%;
    box-sizing: border-box;
} 
   
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Urbanist';
    font-weight: 300;
    
}



p::selection {
    background-color: var(--peach);
  }


h2 {
    font-size: 2.4rem;
}

ul {
    list-style: none;
}

p {
    font-family: 'Verdana';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 1em;
    text-align: justify;
}

img {
    width: 100%;
}

svg {
    vertical-align: middle;
    }

.button svg {
    vertical-align: middle;
    margin-left: 5px;
    }

.thick-hr {
    border-top: 7px solid #14aaa1;
    width: 65px;
}

span {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
    font-weight: 400;
}

a:hover {
    color: var(--gray);
    transition-duration: 0.2s;
}


.button {
    display: inline-block;
    padding: 14px;

    border-radius: 60px;

    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Roboto';
}

.button-peach {
    border: 1.5px solid var(--peach);
    background-color: var(--peach);
    color: black;
}

.button-dark-purple:hover {
    background-color: var(--peach);
    color: var(--peach);
}

.button-grass {
    border: 1.5px solid var(--grass);
    background-color: var(--grass);
    color: black;
}

.button-light:hover {
    background-color: var(--peach);
    color: white;
}

.bold {
    font-weight: 500;
}



    @media  (max-width: 468px) {
        .button {
            width: 50%;
            gap: 10px;
        }

        main {
            padding-inline: 2%;
        }
    }

