@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Urbanist';
	src: url('/fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fraunces';
	src: url('/fonts/Fraunces/Fraunces_72pt-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
    --black: #000000;
    --dark-plum: #320E3B;
    --plum: #49354E;
    --greyed-out-plum: #675d6b;
    --dark-lavender: #9076C7;
    --lavender: #A48CD5;
    --light-lavender: #D0C0F3;
    --lilac: #E5DCF9;
    --peach: #FFB380;
    --grass: #BBDB9B;
    --cream: #fff3ea;
    --white: #ffffff;
}

html { 
    font-size: 62.5%;
    box-sizing: border-box;
} 
   
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana';
    font-weight: 300;
}

*::selection {
    background-color: var(--light-lavender);
  }


h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu Condensed";
}

h2 {
    font-family: 'Ubuntu Condensed';
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

span {
    font-family: 'Arial';
}

p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.8rem;
    color: rgb(11, 8, 5);
    line-height: 1.8;
    margin-bottom: 1em;
    text-align: justify;
}

img {
    width: 100%;
    border-radius: 35px;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

span {
    font-family: 'Arial';
}

a, a:visited {
    color: var(--dark-lavender);
    text-decoration: none;
    transition-duration: 0.3s;
    font-weight: 700;
}

a:hover {
    color: var(--peach);
    transition-duration: 0.2s;
}


.button {
    display: inline-block;
    padding: 20px;

    border-radius: 60px;

    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Ubuntu Condensed";
    color: black;
    border: none;
}

.button-peach {
    border: 1.5px solid var(--peach);
    background-color: var(--peach);
    color: var(--dark-plum) !important;
    border: none;
    transition-duration: 0.3s;
}

.button-peach:hover {
    background-color: var(--lavender);
    border: 1.5px solid var(--lavender);
    border: none;
    transition-duration: 0.3s;
}

.button-grass {
    border: 1.5px solid var(--lavender);
    background-color: var(--lavender);
    color: var(--dark-plum) !important;
    transition-duration: 0.3s;
}

.button-grass:hover {
    background-color: var(--peach);
    border: 1.5px solid var(--peach);
    transition-duration: 0.3s;
}

.button-next, .button-prev {
    background-color: var(--white);
    border-radius: 12px;
    padding: 26px;
    
}

iframe {
    transform:scale(0.77);
    transform-origin:0 0;
}

.bold {
    font-weight: 500;
}

    @media  (max-width: 468px) {
        .button {
            gap: 10px;
        }

        main {
            padding-inline: 2%;
        }
    }

