.slot-wrapper a {
  color: var(--very-dark-lavender);
  font-size: var(--font-lg);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 500;
}

.slot-wrapper a:hover {
  text-decoration-thickness: 3px;
}

.slot-wrapper .button {
  text-decoration: none;
  font-weight: 600;
}

.slot-wrapper ul {
  list-style: disc;
}

.slot-wrapper ol,
.slot-wrapper ul {
  margin-inline: 2rem;
  margin-block: 4rem;
}

.slot-wrapper li {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 1.8rem;
  margin-block: 0.4em;
}

.slot-wrapper h2 {
  font-size: 3rem;
  margin-block: var(--spacing-3xl);
  padding-left: var(--spacing-md);
  border-left: solid 5px var(--peach);
}

.slot-wrapper h3 {
  font-size: 2.2rem;
  margin-block: var(--spacing-2xl);
}

.slot-wrapper p {
  text-align: left;
  line-height: 1.8;
  margin-bottom: var(--spacing-lg);
}

.post h1 {
  text-align: center;
  font-size: 3.6rem;
}
.post hr {
  width: 100%;
  margin: 0.5em auto 6em;
}

.post img {
  border-radius: 35px;
  margin-block: 10px;
}

.warning {
  display: block;
  border-radius: 36px;
  background: white;
  padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-lg)
  100px;
  margin-block: var(--spacing-xl);
  position: relative;

  /*Font*/
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
  color: var(--black);

  /*Borders - (Optional)*/
  border-left: 12px solid var(--peach);
  /* border-right: 5px solid #c76c0c; */

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

.warning::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url('../../public/images/meta/warning.png') no-repeat center center;
  background-size: contain;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #20150c;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 20px;
}

.warning::after {
  /*Reset to make sure*/
  content: "";
}

.warning a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

.warning a:hover {
  color: #666;
}

.warning em {
  font-style: italic;
}

blockquote {
  display: block;
  border-radius: 36px;
  background: white;
  padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-lg)
    var(--spacing-3xl);
  margin-block: var(--spacing-xl);
  position: relative;

  /*Font*/
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
  color: var(--black);

  /*Borders - (Optional)*/
  border-left: 12px solid var(--peach);
  /* border-right: 5px solid #c76c0c; */

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #20150c;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

@media (min-width: 760px) {
  .slot-wrapper h2 {
    font-size: 3.4rem;
  }

  .slot-wrapper h3 {
    font-size: 2.8rem;
  }
}