.swiper-button-next, .swiper-button-prev {
    width: 54px;
    height: 54px;
    border-radius: 30px;

    background-repeat: no-repeat !important;
    background-position: center !important;

    background-color: var(--lavender);
}

.swiper-box-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.swiper-button-next:active, .swiper-button-prev:active {
    transform: scale(0.8);
    transition: 0.3s;
}

.swiper-button-next {
    background-image: url(/images/meta/arrows/arrow-next.svg) !important;
    right: 4px;
}

.swiper-button-prev {
    background-image: url(/images/meta/arrows/arrow-prev.svg) !important;
    left: 4px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}