---
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import { getCollection } from "astro:content"
import PostLongCard from "../components/PostLongCard.astro";
import Post from "../components/Post.astro";
const { title, description, date } = Astro.props;

const posts = await getCollection("pigeons");
---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
	</head>
    <body>
        <Header backgroundColor="rgb(229, 220, 249)"/>
        <main>
            <section>
                <h1>Atlas gołębi</h1>
                <div class="buttons">
                    <a href="#" class="button button-peach">Występowanie</a>
                    <a href="#" class="button button-peach">Habitat</a>
                    <a href="#" class="button button-peach">Wymiary</a>
                    <a href="#" class="button button-peach">Dieta</a>
                </div>
                <div class="cards-container">
                    {posts.map((post) => <Post item={post}/>)}
                </div>
            </section>
            </div>
        </main>
        <Footer/>
    </body>
</html>

<style>
    h1 {
        font-size: 3.6rem;
        margin-block: 0.6em 2em;
        text-align: center;
        font-family: "Ubuntu Condensed";
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding-block: 2em;
    }

    body {
        background-color: white;
    }

    main {
        padding: 8em 3% 14em;
        background-color: var(--lilac);
    }

    section {
        max-width: 1760px;
        margin-inline: auto;
    }
    
    div {
        margin: 0 auto;
    }

    h1 {
        font-size: 4rem;
        color: var(--plum);
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        column-gap: 40px;
        justify-items: center;
}

img {
    width: 100%;
}


    @media  (min-width: 1250px) {
        .cards-container {
            grid-template-columns: 1fr 1fr;   
        }

        h1 {
            text-align: left;
            margin-left: 100px;
        }
    }

</style>