<main>

    <section>

        <h1>Choose a Columbidae bird</h1>

        <input type="text"></input>

        <button type="button" name="button">CLICK</button>

    </section>

    <section>

        <h2 id="your-bird">Your pigeon</h2>
        <span id="genus"></span>
        <span id="species"></span>
        <span id="sub-species"></span>

        <img src="" alt="">

        <audio id="audio" controls src="">

            <source id="recording" href="#">Pigeon audio

        </audio>

    </section>

</main>

<script src="main.js"></script>


</html>

<script>
    document.querySelector('button').addEventListener('click', getPigeon)

function getPigeon() {

let bird = document.querySelector('input').value

    fetch(`https://xeno-canto.org/api/2/recordings?query=${bird}`)

    .then(res => res.json())
    .then(data => {

    console.log(data.recordings[0].file)
    console.log(data.recordings)

        document.querySelector('#your-bird').innerHTML = data.recordings[0].en
        document.querySelector('#genus').innerHTML = data.recordings[0].gen
        document.querySelector('#species').innerHTML = data.recordings[0].sp
        document.querySelector('#sub-species').innerHTML = data.recordings[0].ssp
        document.querySelector('#audio').src = data.recordings[0].file

    })
    .catch(err => {
        console.log(`error ${err}`)

    });

}
</script>