---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content"
import Post from "../components/Post.astro";

const posts = await getCollection("posts");
---

<html lang="en">
	<head>
        <BaseHead/>
	</head>
    <body>
        <Header/>
        <main>
            <h2>Blog</h2>
            <hr>
            <div class="cards-container">
                {posts.map((post) => <Post post={post}/>)}
            </div>
        </main>
        <Footer/>
    </body>
</html>

<style>
    main {
        margin: 5em 9em;
    }

    div {
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
    }

    hr {
        border-top: 7px solid #14aaa1;
        margin-bottom: 3em;
        width: 65px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3em;
        row-gap: 4em;
        margin-top: 7em;
    }

    
    @media  (max-width: 747px) {
        .cards-container {
            justify-content: center;
        }
    }
</style>