---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content"
import Post from "../components/Post.astro";
const { title, description, date } = Astro.props;

const posts = await getCollection("posts");
---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
	</head>
    <body>
        <Header/>
        <main>
            <section>
                <h1>Poradniki</h1>
                <div class="cards-container">
                    {posts.map((post) => <Post post={post}/>)}
            </section>
            </div>
        </main>
        <Footer/>
    </body>
</html>

<style>
    h1 {
        font-size: 3.6rem;
        margin-block: 0.6em 2em;
    }
    body {
        background-color: var(--cream);
    }

    main {
        margin: 5em 9em;
    }

    section {
        max-width: 1920px;
        margin-inline: auto;
    }

    div {
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5em;
        justify-items: center;
    }


    @media  (min-width: 900px) {
        .cards-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media  (min-width: 1400px) {
        .cards-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>