---
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import { getCollection } from "astro:content"
import AdoptionCard from "../components/AdoptionCard.astro";
const { title, description, date } = Astro.props;

const adoptions = await getCollection("adoptions");
---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
	</head>
    <body>
        <Header backgroundColor="rgb(246, 196, 159)"/>
        <main>
            <section>
                <h1>Chatkowe gołębie do adopcji</h1>
                <div class="cards-container">
                    {adoptions.map((adoption) => <AdoptionCard bird={adoption}/>)}
            </section>
                <section>
                    <h1>Ogłoszenia grzecznościowe</h1>
                </section>
            </div>
        </main>
        <Footer/>
    </body>
</html>

<style>
    h1 {
        font-size: 3.6rem;
        margin-block: 0.6em 2em;
        text-align: center;
        font-family: "Ubuntu Condensed";
    }

    body {
        background-color: rgb(246, 196, 159);
    }

    main {
        margin: 8em 3% 14em;
    }

    section {
        max-width: 1500px;
        margin-inline: auto;
    }

    div {
        margin: 0 auto;
    }

    h1 {
        font-size: 4rem;
        color: var(--plum);
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        column-gap: 40px;
        justify-items: center;
}


    @media  (min-width: 1250px) {
        .cards-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;   
        }

        h1 {
            text-align: left;
            margin-left: 100px;
        }
    }

</style>