---
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import { getCollection } from "astro:content"
import Post from "../components/Post.astro";
const { title, description, date, backgroundColor } = Astro.props;

const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
	</head>
    <body>
        <Header backgroundColor="rgb(246, 196, 159)"/>
        <main>
            <section>
                <h1>Poradniki</h1>
                <div class="cards-container">
                    {posts.map((post) => <Post item={post} backgroundColor="var(--cream)"/>)}
                </div>
            </section>
        </main>
        <Footer/>
    </body>
</html>

<style>
    h1 {
        font-size: 3.6rem;
        margin-block: 0.6em 2em;
        text-align: center;
        font-family: "Ubuntu Condensed";
    }

    main {
        padding: 8em 3% 14em;
        background-color: var(--light-peach);
    }

    section {
        max-width: 1600px;
        margin-inline: auto;
    }

    div {
        margin: 0 auto;
    }

    h1 {
        font-size: 4rem;
        color: var(--plum);
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        column-gap: 40px;
        justify-items: center;
}

@media  (min-width: 720px) {
        .cards-container {
            grid-template-columns: 1fr 1fr;   
        }
    }


    @media  (min-width: 1240px) {
        .cards-container {
            grid-template-columns: 1fr 1fr 1fr;   
        }

        h1 {
            text-align: left;
            margin-left: 100px;
        }
    }

</style>