---
import PageLayout from "../layouts/PageLayout.astro";
import SponsorCard from "../components/SponsorCard.astro";

const title = "Partnerzy i patroni";
const description = "Nasi sponsorzy i partnerzy";
---

<PageLayout title={title} description={description} maxWidth={'900px'}> 
    <h2>Partnerzy</h2>
    <div class="grid-container">
        <SponsorCard href="https://www.facebook.com/przychodniasalamandrakrakow" src="/images/pages/sponsorzy/Salamandra.png" alt={"Przychodnia Weterynaryjna Salamandra"}/>

        <SponsorCard href="https://www.kontna.pl/" src="/images/pages/sponsorzy/Lucyna-Kontna.png" alt={"Przychodnia Weterynaryjna Salamandra"}/>
    </div>

    <h2>Patroni</h2>
    <ul>
        <li>Kinga Włodarska</li>
        <li>Patrycja Niewiadomska</li>
        <li>Maciej Satkiewicz</li>
        <li>Dariusz Grochal</li>
    </ul>
    <a href="https://patronite.pl/Chatka_Golebia"><h3>Zostań naszym patronem!</h3></a>
</PageLayout>

<style>
    .grid-container {
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        grid-template-columns: 
            repeat(auto-fit,
                minmax(min(24rem, 100%), 1fr));
        padding-block: 2em;
    }
</style>