---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

type Props = {
    posts: CollectionEntry<"posts">[]
}
const { posts } = Astro.props;
---

<section>
    <div class="container">
        <h2>Poradniki</h2>
        <div class="cards-container">
            {posts.slice(0, 3).map((post) => <Post post={post} />)}
        </div>
        <a class="older"" href="/blog">Starsze</a>
    </div>
</section>

<style>
    section {   
        padding: 12em 9em 8em 9em;
        background-color: var(--cream);
        background-image: url('images/index/bk.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        margin-inline: auto;
        max-width: 1920px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3em;
        margin-block: 7em 3em;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }

    .older {
        font-size: 2rem;
        font-weight: 700;
    }
      
    @media  (max-width: 758px) { 
        .cards-container {
            justify-content: center;
        }
    }

    @media  (max-width: 900px) {
        section {
            padding-inline: 2%;
        }
    }

</style>