<footer>
    <div class="container">
        <div class="logo-div">
            <div class="logo">
                <img src="/images/meta/logo-footer.png">
                <h2>Fundacja</br> Akcja dla Dzikich Zwierząt</h2>
            </div>
            <div>
                <ul>
                    <li>
                        KRS: 0000465258
                    </li>
                    <li>
                        Nr konta: 15 1140 2004 0000 3802 8378 9982
                    </li>
                    <li>
                        SWIFT CODE (BIC): BREXPLPWMBK
                    </li>
                </ul>
            </div>
            <div>
                <a href="https://www.facebook.com/AkcjaDzikieKrakow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5Z"/></svg>
                </a>
                <a href='https://www.instagram.com/akcjadladzikichzwierzat'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37zm1.5-4.87h.01"/></g></svg>
                </a>
            </div>
            <div>
                <span>
                    Projekt graficzny: 
                    <a href="https://www.linkedin.com/in/ewa-kostorz/">Ewa Kostorz</a>. Programowanie: Iga Spodzieja
                </span>
                <span>
                    Wykonane w <a href="https://astro.build">Astro</a>.
                </span>
            </div>
        </div>

        <div class="fond-info">
            <div>
                <ul>
                    <h4>Menu</h4>
                    <hr>
                    <li>
                        <a href="o-akcji">O Akcji</a>
                    </li>
                    <li>
                        <a href="wolontariat">Wolontariat</a>
                    </li>
                    <li>
                        <a href="znalazłem-dzikie-zwierzę">Znalazłem dzikie zwierzę</a>
                    </li>
                    <li>
                        <a href="jak-nam-pomóc">Jak nam pomóc?</a>
                    </li>
                    <li>
                        <a href="kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
            <div>  
                <ul>
                    <h4>Adres</h4>
                    <hr>
                    <li>
                        ul. Lipska 49
                    </li>
                    <li>
                        30-721 Kraków
                    </li>
                    <li>
                        e-mail: akcjadladzikichzwierzat@gmail.com
                    </li>
                </ul>
            </div>
            <div>    
                <ul>
                    <h4>Godziny otwarcia</h4>
                    <hr>
                    <li>
                        <h5>Poniedziałek - Piątek:</h5> 9:00 - 21:00
                    </li>
                    <li>
                        <h5>Czwartek:</h5> 9:00 - 14:00 i 15:00 - 21:00
                    </li>
                    <li>
                        <h5>Sobota:</h5> 9:00 - 16:00
                    </li>
                    <li>
                        <h5>Niedziela:</h5> 10:00 - 15:00
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 7em 4em;

        color: white;
        background-color: var(--black);

        word-break: break-word;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5em;

        max-width: 1920px;
        margin-inline: auto;
    }

    .logo-div {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .logo {
        display: flex;
        gap: 1em;
    }

    img {
        width: 36px;
    }

    .fond-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3em;
    }

    span {
        display: block;
    }

    h2 {
        font-family: 'Amatic SC';
        font-weight: 400;
        font-size: 2.1rem;
    }

    a:hover{
        color: var(--gray);
    }

    a {
        color: white;
    }

    h4 {
        margin-bottom: 2px;
        font-size: 1.8rem;
    }

    li {
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: 0.2em;
    }

    h5 {
        display: inline;
        font-size: 1.6rem;
        font-weight: 400;
    }

    @media  (max-width: 1200px) {
        footer {
            padding-block: 5em;
        }
    }

    @media  (max-width: 768px) {
        .fond-info {
            justify-content: flex-start;
        }
        .fond-logo {
            justify-content: flex-start;
        }
    }

    @media  (max-width: 480px) {
        footer {
            padding-block: 4em;
            padding-inline: 6%;
        }

        .container {
            flex-direction: column;
            align-content: center;
        }
}
</style>