---
import SocialLinks from "./SocialLinks.astro"
---

<header>
    <div class="social-links-container">
        <div>
            <SocialLinks />
        </div>
    </div>

    <div class="text">
        <navigation>
            <a href="/"><div class="logo-div">
                <img class="logo" src="/images/meta/logo.png">
            </div></a>
            <div class="links">
                <div class="buttons">
                    <a class="button button-peach" href='/'>ZNALAZŁEM GOŁĘBIA</a>
                    <a class="button button-grass" href='https://zrzutka.pl/profile/fundacja-chatka-golebia-464519'>WSPOMÓŻ NAS</a>
                </div>
                <ul class="internal-links">
                    <li><a href="/o-nas">O nas</a></li>
                    <li><a href="/adopcja">Adopcja</a></li>              
                    <li><a href="/meetups">Aktualności</a></li>
                    <li><a href="/blog">Poradniki</a></li>
                    <!-- <li><a href="/">Partnerzy</a></li> -->
                    <!-- <li><a href="/kontakt">Kontakt</a></li> -->
                </ul>
            </div>
            </div>
        </navigation>
    </div>
</header>

<style>

    header {
        background-image: url('/images/index/background-top.png');
        background-repeat: no-repeat;
        background-position: 50% 102%;
        background-size: cover;
        background-color: var(--cream);
        padding-bottom: 100px;
    }

    a {
        font-weight: 700;
    }
    
    .social-links-container {
        background-color: var(--lavender);
        padding-inline: 20px;
    }

    .social-links-container {
        display: flex;
        justify-content: flex-end;
        padding-inline: 35px;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 34px;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .internal-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;

        font-size: 2rem;
    }

    .internal-links a {
        color: var(--plum);
    }

    .internal-links a:hover {
        color: var(--peach);
    }

    .logo {
        height: 160px;
        width: auto;
    }

    .logo-text {
        height: 116px;
    }

    navigation {
        padding-inline: calc(6vw + 0.1rem);
        padding-top: 20px;
        margin-inline: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 1920px;
        background: 70% 50% no-repeat url("/images/index/wave-copy.png");
    }

    navigation .internal-links {
        color: var(--dark-purple);
        flex-wrap: wrap;
    }

    .logo-div {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    h1 {
        font-family: 'Amatic SC';
        font-weight: 400;
        color: var(--black);
        font-size: calc(3.6vw + 0.1rem)
    }


	@media  (max-width: 1320px) {

        navigation {
            flex-direction: column;
            padding-inline: 2%;
        }
        .buttons {
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em;
        }

        .internal-links {
            margin-block: 1.5em;
        }

        h1 {
            font-size: calc(2.8vw + 2.5rem)
        }

	}

    @media  (max-width: 468px) {
        .logo-div {
            flex-direction: column;
        }
    }
