
    <div class="social-links">
        <a href="https://www.facebook.com/chatkagolebia/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5Z"/></svg>
        </a>

        <a href='https://www.instagram.com/chatka_golebia/'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37zm1.5-4.87h.01"/></g></svg>
        </a>

        <a href="https://patronite.pl/AkcjaDlaDzikichZwierzat">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 249 248" version="1.1" xml:space="preserve" 
            style=stroke="currentColor" stroke-width="512">
            <g transform="matrix(1,0,0,1,0,-0.0004)">
                <path fill="currentColor" d="M165.729,181.266L124.973,198.785L96.004,187.234L96.004,154.961L100.427,165.248L124.657,174.91L148.622,164.609L148.693,164.429L179.571,146.55L165.729,181.266ZM66.778,142.83L96.331,125.716L90.125,141.284L90.356,141.824L90.356,184.982L83.77,182.356L66.778,142.83ZM82.184,101.638L115.183,110.435L99.786,117.054L99.716,117.231L68.838,135.111L82.184,101.638ZM123.428,51.32L163.658,97.833L154.599,131.81L147.98,116.413L147.926,116.392L119.454,56.073L123.428,51.32ZM158.283,140.377L158.206,140.201L167.399,105.725L181.631,138.831L152.076,155.945L158.283,140.377ZM123.834,112.864L143.716,120.791L152.17,140.459L144.243,160.343L124.575,168.798L104.691,160.87L96.237,141.203L104.165,121.318L123.834,112.864ZM123.752,106.751L123.575,106.828L85.498,96.676L115.463,60.845L140.234,113.324L123.752,106.751ZM169.194,95.599L123.356,42.603L78.035,96.798L60.136,141.682L79.504,186.736L125.055,204.897L170.109,185.531L188.271,139.979L169.194,95.599Z"/></g></svg>
        </a>
    </div>

<style>
    .social-links {
    height: 57px;
    padding-inline: 45px;
    max-width: 1920px;
    margin: 0 auto;

    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; 
    }

    .social-links a {
        color: white;
    }

    .social-links a:hover {
        color: var(--gray);
    }
</style>