<!-- ---
const url = 'https://chatkagolebia.pl';
const encodedUrl = encodeURIComponent(url);
const { item } = Astro.props
---

<a href={`https://www.linkedin.com/sharing/share-offsite/?url=${url}`}>LinkedIn</a>
<a href={`https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}/${item.slug}`} target="_blank">
    Facebook
</a> -->