---
import SocialLinks from "./SocialLinks.astro";
---

<footer>
    <div class="container">
        <div class="logo-div">
            <div class="logo">
                <h2>Fundacja</br> Chatka Gołębia</h2>
            </div>
            <div>
                <ul>
                    <li>
                        KRS: 0001104995
                    </li>
                    <li>
                        Numer konta: 51 1140 2004 0000 3102 8487 4428
                    </li>
                </ul>
            </div>
            <div class="social-links-container">
                <SocialLinks />
            </div>
            <div>
                <span>
                    Projekt graficzny: 
                    Ula Taraszka. Programowanie: Iga Spodzieja.
                </span>
            </div>
        </div>

        <div class="fond-info">
            <div>
                <ul>
                    <h4>Menu</h4>
                    <li>
                        <a href="/o-nas">O nas</a>
                    </li>
                    <li>
                        <a href="/adopcja">Adopcje</a>
                    <li>
                        <a href="/poradniki">Poradniki</a>
                    </li>
                    <li>
                        <a href="/aktualnosci">Aktualności</a>
                    </li>
                    <li>
                        <a href="/kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 3em 3em;

        color: white;
        background-color: var(--plum);

        word-break: break-word;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5em;

        max-width: 1920px;
        margin-inline: auto;
    }

    .logo-div {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .logo {
        display: flex;
        gap: 1em;
    }

    img {
        width: 36px;
    }

    .fond-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3em;
    }

    span {
        display: block;
    }

    h2 {
        font-weight: 700;
        font-size: 2.1rem;
    }

    a:hover{
        color: var(--gray);
    }

    a {
        color: white;
    }

    h4 {
        margin-bottom: 16px;
        font-size: 2rem;
    }

    li {
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: 0.2em;
    }

    h5 {
        display: inline;
        font-size: 1.6rem;
        font-weight: 400;
    }

    @media  (max-width: 1200px) {
        footer {
            padding-block: 5em;
        }
    }

    @media  (max-width: 768px) {
        .fond-info {
            justify-content: flex-start;
        }
        .fond-logo {
            justify-content: flex-start;
        }
    }

    @media  (max-width: 480px) {
        footer {
            padding-block: 4em;
            padding-inline: 6%;
        }

        .container {
            flex-direction: column;
            align-content: center;
        }
}
</style>