---
import AccordionInput from "./AccordionInput.astro"
---
<section>
    <div>
      <h2>Fakty o gołębiach</h2>
      <img class="about-img" src="/images/index/collage-pigeon.png">
    </div>

    <div class="accordion accordion--radio">
      <AccordionInput accordionTabTitle="Jakie gatunki gołębi występują w Polsce?" accordionTabContent="Gołąb miejski (Columba Livia), sierpówka (Streptopelia decaocto), grzywacz (Columba palumbus), turkawka (Streptopelia turtur), turkawka wschodnia (Streptopelia orientalis), siniak (Columba oenas)."/>

      <AccordionInput accordionTabTitle="Dlaczego warto adoptować gołębie?" accordionTabContent="Gołębie są świetnymi zwierzakami domowymi! Doskonale odnajdują się w towarzystwie ludzi, mają nieskomplikowaną dietę oraz delikatne dzioby i pazury (nie niszczą mebli)."/>

      <AccordionInput accordionTabTitle="Co to znaczy, że gołębie miejskie są zwierzętami zdziczałymi?" accordionTabContent="Gołębie miejskie są potomkami. Gołębie domowe to udomowione gołębie skalne. Gołębie domowe uciekały z hodowli lub były z nich celowo wypuszczane i tworzyły zdziczałe populacje. Gołębie skalne (dzikie) występują w odizolowanych rejonach Wielkiej Brytanii i Irlandii."/>

      <AccordionInput accordionTabTitle="Jak długo żyją gołębie?" accordionTabContent="Badania przeprowadzone w 1990 roku w szwajcarskim mieście Basel wykazały, że jedynie 10% lub mniej obserwowanej populacji gołębi miejskich dożywało wieku ponad 4 lat. Z kolei gołębie znajdujące się pod opieką człowieka mogą żyć nawet około 30 lat."/>

      <AccordionInput accordionTabTitle="Jaki jest koszt utrzymania gołębia?" accordionTabContent="Najwięcej kosztów ponosi się na początku: klatka, miseczki, transporter itd. Potem utrzymanie gołębia nie jest drogie. Mieszanka ziaren dla gołębi 20 kg kosztuje ok. 50 zł. Raz w roku warto zabrać gołębia na badanie profilaktyczne u ptasiego weterynarza."/>
    </div>
</section>

<style>

img {
  width: 300px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    background-color: var(--cream);
    padding: var(--spacing-4xl) 4% 13em 4%;
}

.accordion {
  max-width: 860px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 24px;
}

h2 {
  font-family: "Ubuntu Condensed";
  font-size: 5rem;
  color: var(--plum);
  margin-bottom: 3.4rem;
}
 
@media  (max-width: 758px) { 
  section {
    flex-direction: column;
  }

  img {
    display: none;
  }
}
</style>