<section>
    <div>
        <div class="accordionItem">
        <h2 class="accordionTitle">Dlaczego warto adoptować gołębie?</h2>
        <div class="accordionContent">
            <p>Gołębie są świetnymi zwierzakami domowymi! Doskonale odnajdują się w towarzystwie ludzi, mają nieskomplikowaną dietę oraz delikatne dzioby i pazury (nie niszczą mebli).</p>
        </div>
        </div>

        <div class="accordionItem">
        <h2 class="accordionTitle">Co to znaczy, że gołębie miejskie są zwierzętami zdziczałymi?</h2>
        <div class="accordionContent">
            <p>Gołębie miejskie są potomkami. Gołębie domowe to udomowione gołębie skalne. Gołębie domowe uciekały z hodowli lub były z nich celowo wypuszczane i tworzyły zdziczałe populacje. Gołębie skalne (dzikie) występują w odizolowanych rejonach Wielkiej Brytanii i Irlandii.</p>
        </div>
        </div>
    </div>
</section>

  
<style>

section {
    background-color: var(--cream);
    padding: 12em 4% 16em 4%;
}

.accordionItem {
    background-color: var(--lavender);
    margin-block: 1em;
    padding: 2%;
    border-radius: 16px;
    max-width: 1000px;
    margin-inline: auto;
}

.accordionContent {
  padding-top: 2em;
}

.accordionTitle {
  cursor: pointer;
}

.accordionTitle + .accordionContent {
  display: none;
}

.accordionTitle.is-open + .accordionContent {
  display: block;
}
</style>

<script>
const accordionTitles = document.querySelectorAll(".accordionTitle");

accordionTitles.forEach((accordionTitle) => {
  accordionTitle.addEventListener("click", () => {
    if (accordionTitle.classList.contains("is-open")) {
      accordionTitle.classList.remove("is-open");
    } else {
      const accordionTitlesWithIsOpen = document.querySelectorAll(".is-open");
      accordionTitlesWithIsOpen.forEach((accordionTitleWithIsOpen) => {
        accordionTitleWithIsOpen.classList.remove("is-open");
      });
      accordionTitle.classList.add("is-open");
    }
  });
});
</script>