<!--<div class="container">-->
<!--    <div class="campaign campaign-1">-->
<!--        <h2>Zostań gołębim superbohaterem</h2>-->
<!--    </div>-->
<!--    <div class="campaign campaign-2">-->
<!--        <h2>Zostań naszym wolontariuszem</h2>-->
<!--    </div>-->
<!--    <div class="campaign campaign-3">-->
<!--        <h2>Adoptuj gołębia pod swoje skrzydłą</h2>-->
<!--    </div>-->
<!--    <div class="campaign campaign-4">-->
<!--        <h2>Weź udział w Akcji Sznurek</h2>-->
<!--    </div>-->
<!--</div>-->

<!--<style>-->
<!--    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');-->

<!--    .campaign {-->
<!--        padding: 2rem;-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!--        justify-content: end;-->
<!--    }-->

<!--    .campaign:hover {-->
<!--        transform: scale(1.05);-->
<!--        transition-duration: 0.3s;-->
<!--    }-->

<!--    .campaign-1 {-->
<!--        background-image: url("/images/index/1.png");-->
<!--        background-size: cover;-->
<!--        width: 400px;-->
<!--        height: 500px;-->
<!--        border-radius: 16px;-->
<!--    }-->

<!--    .campaign-2 {-->
<!--        background-image: url("/images/index/2.png");-->
<!--        background-size: cover;-->
<!--        width: 400px;-->
<!--        height: 500px;-->
<!--        border-radius: 16px;-->
<!--    }-->

<!--    .campaign-3 {-->
<!--        background-image: url("/images/index/3.png");-->
<!--        background-size: cover;-->
<!--        width: 400px;-->
<!--        height: 500px;-->
<!--        border-radius: 16px;-->
<!--    }-->

<!--    .campaign-4 {-->
<!--        background-image: url("/images/index/4.png");-->
<!--        background-size: cover;-->
<!--        width: 400px;-->
<!--        height: 500px;-->
<!--        border-radius: 16px;-->
<!--    }-->

<!--    h2 {-->
<!--        display: block;-->
<!--        font-family: "Indie Flower";-->
<!--        color: var(&#45;&#45;plum);-->
<!--        text-align: right;-->
<!--        line-height: 1.6;-->
<!--        font-size: 4rem;-->
<!--        margin-block: 0.4em;-->
<!--        background-color: var(&#45;&#45;cream);-->
<!--        border-radius: 16px;-->
<!--        padding: 0.2rem;-->
<!--    }-->


<!--    .container {-->
<!--        display: flex;-->
<!--        justify-content: space-around;-->
<!--        background-color: var(&#45;&#45;cream);-->
<!--    }-->

<!--</style>-->
