<section>
    <div class="text">
        <h1 class="hero-title item-1">Przygarnij <span>gołębia</span></br> pod swoje skrzydła</h1>
    </div>
    <div class="item-2">
        <img class="hero-img" src="/images/index/hero.svg">
    </div>
</section>

<style>
    section {
        background-image: url('/images/meta/feet-pattern.png');
        background-size: 25%;
        background-position-x: 38%;
        background-position-y: %;
        background-repeat: no-repeat;
        display: flex;
        background-color: #f9e9e2;
        padding-inline: 220px;
        padding-top: 6em;
        display: flex;
        max-width: 1920px;
        
    }

    .text {
        display: flex;
        align-items: center;
    }

    .hero-title {
        font-size: calc(1vw + 6rem);
        font-family: 'Fraunces';
        font-weight: 800;
        letter-spacing: 2px;
        display: block;
        color: rgb(30, 41, 29);
    }

    .item-1, .item-2 {
        flex-basis: 1;
    }

    span {
        font-size: calc(1vw + 6rem);
        font-family: 'Fraunces';
        font-weight: 800;
        letter-spacing: 2px;
        color: rgb(223, 141, 58);
    }

    .hero-img {
        width: 600px;
        width: 100%;
    }

    @media  (max-width: 768px) {
        section {
            display: flex;
            flex-direction: column;

        }

    }
</style>