<section>
    <div class="flex-container">
        <!-- <img class="background" src="/images/meta/feet-pattern.png"> -->
        <div class="flex-item flex-item-1">
            <h1>Przygarnij <span>Gołębia</span> </br> Pod Swoje Skrzydła</h1>
            <p class="about">
                Promujemy <a href="/adopcja">adopcję</a> gołębi udomowionych oraz gołębi dzikich, które przez swoją niepełnosprawność nie mogą wrócić na wolność. Jesteśmy organizatorami <a href="https://www.radiokrakow.pl/audycje/krakowianie-ratuja-golebie-akcja-sznurek-juz-w-najblizsza-sobote/">Akcji Sznurek</a>, podczas której rozplątujemy łapki gołębi ze sznurków. Powołaliśmy kampanię <a href="https://zakazkolcow.pl/">Zakaz Kolców</a>, która postuluje zakazanie montażu kolców w celu odstraszania ptaków. Działamy dzięki datkom oraz wsparciu wolontariuszy. Razem możemy więcej!
            </p>
            
            <div class="button-container">
            <a class="button button-peach" href="https://www.facebook.com/groups/783765922151332">
                DOŁĄCZ DO GRUPY
            </a>
            </div>
        </div>
        
        <div class="flex-item flex-item-2">
                <img class="hero-img" src="/images/index/hero.svg">
        </div>
    </div>
    <!-- <div class="flex-container-2">
        <img class="about-img" src="/images/index/collage-pigeon.png">
        <h2>O Chatce</h2> -->
    </div>
</section>

<style>
    section {
        padding-inline: 3%;
        background-color: var(--cream);

        background-image: url('/images/meta/feet-pattern.png');
        background-size: 340px;
        background-position-x: 54%;
        background-position-y: 10%;
        background-repeat: no-repeat;
        background-position: stretch;
    }

    .flex-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4em;

        max-width: 1550px;
        margin-inline: auto;
        padding-bottom: 10em;
    }

    .flex-item {
        flex: 1;
    }

    .flex-item-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        width: 100%;
        max-width: 564px;
        float: right;
    }

    h1, span {
        font-size: calc(1.8vw + 2.7rem);
        font-family: 'Fraunces';
        margin-bottom: 0.5em;
    }

    h1 {
        color: var(--dark-plum);
        margin-top: 1em;
    }

    h2 {
        font-size: 5rem;
        color: var(--plum);
        margin-bottom: 0.6em;
    }

    span {
        color: var(--dark-lavender);
    }

    /* ABOUT */


    .flex-container-2 {
        padding-inline: 20em;
        max-width: 1920px;
        margin-inline: auto;
    }

    .about-img {
        float: left;
        margin-inline: 10em 8em;
        width: 100%;
        max-width: 260px;
    }

    .about {
        font-family: "Montserrat";
        font-size: 2rem;
        font-weight: 500;
        color: var(--dark-plum); 

        margin-bottom: 2.5em;
    }

    .button-container {
        text-align: center;
    }

    @media  (max-width: 900px) {
        section {
            padding-inline: 2%;
        }

        .flex-container {
            flex-direction: column;
            gap: 5em;
        }

        .flex-container-2 {
            padding-inline: 2%;
        }

        h1, span {
            font-size: calc(2vw + 4rem);
            text-align: center;
        }


        .about-img {
            float: none;
            display: block;
            margin-inline: auto;
        }
    }
</style>