<section>
    <div class="flex-container">
        <!-- <img class="background" src="/images/meta/feet-pattern.png"> -->
        <div class="flex-item flex-item-1">
            <h1>Zostań Gołębim </br><span>Superbohaterem</span></h1>
            <p class="about">
                <a href="/adopcja">Adoptuj</a> gołębie potrzebujące opieki człowieka. Weź udział w <a href="/kampanie/akcja-sznurek">Akcji Sznurek</a>, podczas której rozplątujemy łapki gołębi ze sznurków.
            </p>
            
            <div class="button-container">
            <a class="button button-peach" href="https://www.facebook.com/groups/783765922151332">
                DOŁĄCZ DO NASZEJ GRUPY
            </a>
            <a class="button button-grass" href="https://patronite.pl/Chatka_Golebia">
                ZOSTAŃ NASZYM PATRONEM
            </a>
            </div>
        </div>
        
        <div class="flex-item flex-item-2">
                <img class="hero-img" src="/images/index/Maria-gołąb.jpg" alt="Kobieta ze złapanym gołębiem na Akcji Sznurek.">
        </div>
    </div>
    <!-- <div class="flex-container-2">
        <img class="about-img" src="/images/index/collage-pigeon.png">
        <h2>O Chatce</h2> -->
    </div>
</section>

<style>
    section {
        padding-inline: 3%;
        background-color: var(--cream);

        background-image: url('/images/meta/feet-pattern.png');
        background-size: 340px;
        background-position-x: 54%;
        background-position-y: 10%;
        background-repeat: no-repeat;
        background-position: stretch;
    }

    .flex-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4em;

        max-width: 1550px;
        margin-inline: auto;
        padding-bottom: 12em;
    }

    .flex-item {
        flex: 1;
    }

    .flex-item-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        width: 100%;
        max-width: 564px;
        float: right;
    }

    h1, span {
        font-size: calc(2vw + 3rem);
        font-family: 'Fraunces';
        margin-bottom: 0.5em;
    }

    h1 {
        color: var(--dark-plum);
        margin-top: 1em;
    }

    h2 {
        font-size: 5rem;
        color: var(--plum);
        margin-bottom: 0.6em;
    }

    span {
        color: var(--dark-lavender);
    }

    /* ABOUT */


    .flex-container-2 {
        padding-inline: 20em;
        max-width: 1920px;
        margin-inline: auto;
    }

    .about-img {
        float: left;
        margin-inline: 10em 8em;
        width: 100%;
        max-width: 260px;
    }

    .about {
        font-family: "Inter", sans-serif;
        font-size: 2.2rem;
        font-weight: 400;
        color: var(--dark-plum);
        text-align: left;
        line-height: 1.8;

        margin-bottom: 2.5em;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    @media  (max-width: 468px) {
        h1 {
            margin-top: 1rem;
            font-size: calc(0.8vw + 1.8rem);
        }
    }

    @media  (max-width: 760px) {
        section {
            padding-inline: 2%;
            background-image: none;
        }

        .about {
            margin-bottom: 2rem;
        }

        .button-container {
            flex-direction: column;
        }

        .flex-container {
            flex-direction: column;
            gap: 4rem;
        }

        .flex-container-2 {
            padding-inline: 2%;
        }

        h1, span {
            font-size: calc(2vw + 4rem);
            text-align: center;
        }


        .about-img {
            float: none;
            display: block;
            margin-inline: auto;
        }
    }
</style>