---
import type { CollectionEntry } from "astro:content";
import Meetup from "../MeetupLongCard.astro";

type Props = {
    meetups: CollectionEntry<"meetups">[];
}
const { meetups } = Astro.props;
---

<section>
  <div class="container">
  <h2>Aktualności</h2>
    <div class="tabs">
      <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabone" checked="checked">
      <label class="label label-one" for="tabone">Wydarzenia</label>
      <div class="panel panel-one" tabindex="1">
        <div class="cards">
          {meetups.slice(0, 3).map((meetup) => <Meetup meetup={meetup} />)}
        </div>
        <a href="/meetups">Pokaż wszystkie</a>
      </div>

      <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabtwo">
      <label class="label label-two" for="tabtwo">Nowości</label>
      <div class="panel panel-two" tabindex="1">
      </div>

      <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabthree">
      <label class="label label-three" for="tabthree" >Interwencje</label>
      <div class="panel panel-three" tabindex="1">
      </div>
    </div>
  </div>
</section>

<style>

  h2 {
        font-size: 4rem;
        margin-bottom: 22px;
    }

    .paragraph {
        font-size: 1.6rem;
    }

.title {
    font-size: 3rem;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
}

a {
    margin-bottom: 0.5em;
}

img {
    width: 460px;
    margin-top: 3px;
    display: block
}

.label-one {
    background-color: white;
}

.label-two {
    background-color: var(--lavender);
    color: pink;
}

.panel {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.panel-one {
  background-color: white;
}

.panel-two {
  background-color: var(--lavender);
}

.label-three {
    background-color: var(--grass);
}

.panel-three {
  background-color: var(--grass);
}

main {
  background-color: var(--lavender);
}

section {
  padding: 12em 4% 10em 4% 
}

.container {
  max-width: 1920px;
  margin-inline: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 1.5;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  border-radius: 10px 10px 0 0;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  padding: 22px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 23px;
  color: black;
  transition: background .3s, color .3s;
  border: none;
  border-radius: 0;
  text-align: center;
}

.label:hover {
  background: var(--peach);
}

.radiotab:checked + .label {

  color: #000;
  /* border-top: solid 2px #000;
  border-left: solid 2px #000;
  border-right: solid 2px #000; */
  border-bottom: none;
}

.panel {
  display: none;
  padding: 20px 30px 30px;
  width: 100%;
}

.radiotab:checked + .label + .panel {
  display: block;
}

@media (max-width: 1000px) {
  .cards {
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }

  .label {
    width: 33.33%;
    border-radius: 10px 10px 0 0;
    /* border-bottom: solid 2px #000; */
  }

}


</style>

