---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import ContactForm from "../components/ContactForm.astro"
import "../styles/slotwrapper.css"
---

<html lang="en">
	<head>
        <BaseHead />
    </head>
    <body>
        <Header backgroundColor="rgb(179,159,220)"/>
        <main>
            <section class = "post">
                <div class = "title">
                    <h1>Kontakt</h1>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </section>
            <ContactForm />
        </main>
        <Footer />
        <script src="https://web3forms.com/client/script.js" async defer></script>
    </body>

<style>
    main {
        padding-bottom: 12em;
    }
    h1 {
        color: var(--dark-plum);
    }
    .post {
        margin-bottom: 7em;
    }

    body {
        background: rgb(179,159,220);
        background: linear-gradient(180deg, rgba(179,159,220,1) 0%, rgba(179,159,220,1) 25%, rgba(208,195,233,1) 45%, rgba(255,255,255,1) 100%);
    }

    .title { 
    margin-block: 0.6em 5em;
    }
</style>
