---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import ContactForm from "../components/ContactForm.astro"
import "../styles/slotwrapper.css"

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
        <BaseHead title={frontmatter.title} description={frontmatter.description} date={frontmatter.date}/>
    </head>
    <body>
        <Header backgroundColor="rgb(179,159,220)"/>
        <main>
            <section class = "post">
                <div class = "title">
                    <h1>{frontmatter.title}</h1>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </section>
            <ContactForm />
        </main>
        <Footer />
        <script src="https://web3forms.com/client/script.js" async defer></script>
    </body>

<style>

    .post {
        margin-bottom: 7em;
    }

    body {
        background: rgb(179,159,220);
        background: linear-gradient(180deg, rgb(179, 159, 220) 0%, rgba(215,205,237,1) 50%, rgba(243,240,250,1) 100%);
    }

    .title { 
    margin-block: 0.6em 5em;
    }
</style>
