---
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import "../styles/slotwrapper.css";
import PiwikPro from "../components/essentials/PiwikPro.astro";

const { frontmatter = {}, title, description, date, image, maxWidth = '720px'} = Astro.props ;
---

<html lang="en">
    <head>
        <BaseHead title={frontmatter.title || title} description={frontmatter.description || description} date={frontmatter.date || date} />
    </head>
    <body>
        <PiwikPro />
        <Header />
        <main>
            <div class="title">
                <h1>{frontmatter.title || title}</h1>
                <img src={frontmatter.image || image}></img>
            </div>
            
            <div class="post" style={`max-width: ${maxWidth};`}>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>

<style>
    .post {
    max-width: 720px;
    margin: 0 auto;
}

    .title {
        margin: 0.6em 0.5em 5em;
    }
    body {
        background-color: var(--cream);
    }
    h1 {
        text-align: center;
        font-size: 4.1rem;
        color: var(--dark-plum);
        margin-bottom: 4rem;
    }

    img {
        display: block;
        margin-inline: auto;
        max-width: 1200px;

    }

    main {
        margin-inline: auto;
    }
</style>