---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/slotwrapper.css";
import PiwikPro from "../components/PiwikPro.astro";

const { frontmatter = {}, title, description, date, maxWidth = '720px'} = Astro.props ;
---

<html lang="en">
    <head>
        <BaseHead title={frontmatter.title || title} description={frontmatter.description || description} date={frontmatter.date || date} />
    </head>
    <body>
        <PiwikPro />
        <Header />
        <main>
            <div class="post" style={`max-width: ${maxWidth};`}>
                <div class="title">
                    <h1>{frontmatter.title || title}</h1>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>

<style>
    .title {
        margin: 0.6em 0.5em 5em;
    }
    body {
        background-color: var(--cream);
    }
    h1 {
        text-align: center;
        font-size: 3.6rem;
        color: var(--dark-plum);
    }

</style>